*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
}

/* Light mode*/
:root {
    color-scheme: light dark;
    --bg-image: url('./assets/images/light-odin-home-isometric.png');
    --bg-color: hsl(0 0 100);
    --bg-darkness: linear-gradient(hsl(0 0 0 / 0%), hsl(0 0 0 /0%));

    /* form gradient colors */
    --start-color: hsl(240 9 61 / 15%);
    --end-color: hsl(240 60 95 / 63%);
    
    /* box shadow */
    --top-left-shadow: -1px -1px 5px 1px hsl(0 0 0 / 25%);
    --bottom-right-shadow: 1px 1px 5px 0px hsl(0 0 0 / 75%);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: var(--bg-darkness), no-repeat bottom left/100% var(--bg-image) var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 3em 1.5em;
    background: linear-gradient(142deg, var(--start-color), var(--end-color));
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: var(--top-left-shadow), var(--bottom-right-shadow)
}

/* dark mode  */
@media (prefers-color-scheme: dark) {
    body {
        --bg-image: url('./assets/images/dark-odin-home-isometric.png');
        --bg-color:  hsl(240 30 5);
        --bg-darkness: linear-gradient(hsl(0 0 0 / 40%), hsl(0 0 0 / 40%))
    }

    form {
        --start-color: hsl(0 0 6 / 82%);
        --end-color: hsl(240 60 4 / 98%);
        --top-left-shadow: -1px -1px 5px 1px hsl(0 3 27 / 25%);
        --bottom-right-shadow: 1px 1px 5px 0px hsl(0 3 27);
    }
}