@font-face {
    font-family: 'odin-logo';
    src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
        url('./assets/fonts/norse-bold-webfont.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
}

/* Light mode*/
:root {
    color-scheme: light dark;
    --bg-image: url('./assets/images/light-odin-home-isometric.png');
    --bg-color: hsl(0 0 100);
    --bg-darkness: linear-gradient(hsl(0 0 0 / 0%), hsl(0 0 0 /0%));

    /* form gradient colors */
    --start-color: hsl(240 9 61 / 15%);
    --end-color: hsl(240 60 95 / 63%);
    
    /* box shadow */
    --shadow: 0px 0px 5px hsl(0 0 0 / 30%);

    /* font color */
    --color: hsl(0 0 25%);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: var(--bg-darkness), no-repeat bottom left/100% var(--bg-image) var(--bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: hsl(37 60 35);
    font-family: odin-logo;
    font-size: 1.5rem;

    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 5px;
}

.odin-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.odin-logo img {
    height: 2.5em;
}

nav {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    background-color: hsl(0 0 70 / 60%);
    border-radius: 10px;
}

nav .github-link {
    text-decoration: none;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--color);
    padding: 0.5em;
    border-right: 2px solid hsl(0 0 70);

    display: flex;
    align-items: center;
    gap: 5px;
}

nav .github-link svg {
    padding-bottom: 5px;
    height: 1.5em;
}

nav .theme-button::before {
    content: url('./assets/icons/icon-dark-mode.svg');
    padding: 0.2em;
}

.theme-button {
    padding-bottom: 2px;
    border: none;
    background: transparent;
}

nav .github-link:hover,
.theme-button:hover {
    background-color: hsl(37 59 48 / 50%);
}

nav .github-link:hover {
    border-radius: 10px 0 0 10px;
}

.theme-button:hover {
    border-radius: 0 10px 10px 0;
}

form {
    color: var(--color);
    font-size: 1rem;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    width: min(350px, 80%);
    padding: 1.5em;
    margin: auto;
    background: linear-gradient(142deg, var(--start-color), var(--end-color));
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

h1 {
    text-align: center;
    font-family: odin-logo;
    font-size: 1.8rem;
    margin: 0 0 0.5em;
    color: hsl(37 60 35);
}

form .row:not(.submit-button-row) {
    margin-bottom: 0.5em;
}

input:not([type='checkbox']) {
    display: block;
    margin: 1px 0 0;
    width: 100%;
    padding: 0.4em;
    background-color: transparent;
    border:1px solid hsl(0 2 50 / 70%);
    border-radius: 5px;
    letter-spacing: 1px;
}

input::placeholder {
    font-size: 0.8em;
}

input:not([type='checkbox']):focus {
    outline: none;
    border: 1.5px solid hsl(37, 91%, 40%);
}

input[type='checkbox'] {
    appearance: none;
    margin: 0.3em;
    height: 0.8em;
    width: 0.8em;
    border:1px solid hsl(0 2 50 / 90%);
    border-radius: 2px;
    position: relative;
}

input[type='checkbox']::before {
    content: '✔';
    color: hsl(0 0 100);
    font-size: 0.8em;
    position: absolute;
    right: -0.5px;
    top: -1.5px;
    visibility: hidden;
}

input[type='checkbox']:checked::before{
    visibility: visible;
}

input[type='checkbox']:checked {
    background-color: hsl(120 100 30);
}

.hint {
    color: hsl(0 100 60);
    font-size: 0.8em;
    letter-spacing: 0.5px;
    font-weight: normal;
    padding-top: 0.1em;
    visibility: hidden;
}

input:user-invalid + .hint {
    visibility: visible;
}

label[for='terms-conditions'] {
    font-size: 0.8em;
}

.submit-button-row button {
    margin: 1em 0;
    padding: 0.5em;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: hsl(37 95 19);
    font-weight: 900;
    color: hsl(0 0 100);
}

.submit-button-row button:hover {
    background-color: hsl(37 95 30);
}

.submit-button-row button:active {
    border-radius: 8px;
    box-shadow: inset 1px 1px var(--bg-color),
            inset -1px -1px var(--bg-color);
}

.terms-row {
    display: flex;
    align-items: center;
    gap: 1px;
}

.have-account {
    font-size: 0.9em;
    margin: 0;
}

a {
    font-weight: 900;
    color: hsl(0 0 0);
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: hsl(0 0 70 / 60%);
    padding: 1em;
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color);
    text-align: center;
    align-self: stretch;
}

/* dark mode  */
body.dark-mode {
    /* page background */
    --bg-image: url('./assets/images/dark-odin-home-isometric.png');
    --bg-color:  hsl(240 30 5);
    --bg-darkness: linear-gradient(hsl(0 0 0 / 40%), hsl(0 0 0 / 40%))
}

body.dark-mode nav {
    background-color: hsl(0 0 30 / 60%);
}

body.dark-mode nav .github-link {
    color: hsl(0 0 90);
    border-right-color: hsl(0 0 40);
}

body.dark-mode nav .theme-button::before {
    content: url('./assets/icons/icon-light-mode.svg');
}

body.dark-mode form {
    --color: hsl(0 0 60);
    --start-color: hsl(0 0 6 / 82%);
    --end-color: hsl(240 60 4 / 98%);
    --shadow: 0px 0px 5px 0px hsl(0 3 27 / 50%);
}

body.dark-mode a {
    color: hsl(0 0 100);
}

body.dark-mode footer {
    background-color: hsl(0 0 0 / 70%);
    color: hsl(0 0 90);
}