@font-face {
    font-family: 'odin-logo';
    src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
        url('./assets/fonts/norse-bold-webfont.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
}

/* Light mode*/
:root {
    color-scheme: light dark;
    --bg-image: url('./assets/images/light-odin-home-isometric.png');
    --bg-color: hsl(0 0 100);
    --bg-darkness: linear-gradient(hsl(0 0 0 / 0%), hsl(0 0 0 /0%));

    /* form gradient colors */
    --start-color: hsl(240 9 61 / 15%);
    --end-color: hsl(240 60 95 / 63%);
    
    /* box shadow */
    --top-left-shadow: -1px -1px 5px 1px hsl(0 0 0 / 25%);
    --bottom-right-shadow: 1px 1px 5px 0px hsl(0 0 0 / 75%);

    /* font color */
    --color: hsl(0 0 25%);
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: var(--bg-darkness), no-repeat bottom left/100% var(--bg-image) var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    color: var(--color);
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: min(350px, 80%);
    padding: 3em 1.5em;
    background: linear-gradient(142deg, var(--start-color), var(--end-color));
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: var(--top-left-shadow), var(--bottom-right-shadow);
}

h1 {
    text-align: center;
    font-family: odin-logo;
    font-size: 1.8rem;
    margin: 0 0 1em;
    color: hsl(37 60 35);
}

input:not([type='checkbox']) {
    display: block;
    margin: 1px 0 0.8em;
    width: 100%;
    padding: 0.4em;
    background-color: transparent;
    border:1px solid hsl(0 2 50 / 50%);
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

input::placeholder {
    font-size: 0.8em;
}

input:focus {
    outline: none;
    border: 1.5px solid hsl(37, 91%, 40%);
}

label[for='terms-conditions'] {
    font-size: 0.8em;
}

button {
    margin: 1em 0;
    padding: 0.5em;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: hsl(37 95 19);
    font-weight: 900;
    color: hsl(0 0 100);
}

button:hover {
    background-color: hsl(37 95 30);
}

button:active {
    border-radius: 8px;
    box-shadow: inset 1px 1px var(--bg-color),
            inset -1px -1px var(--bg-color);
}

.terms-row {
    display: flex;
    align-items: center;
    gap: 1px;
}

.have-account {
    font-size: 0.9em;
    margin: 0;
}

a {
    font-weight: 900;
    color: hsl(0 0 0);
}

a:hover {
    text-decoration: none;
}

/* dark mode  */
@media (prefers-color-scheme: dark) {
    body {
        --bg-image: url('./assets/images/dark-odin-home-isometric.png');
        --bg-color:  hsl(240 30 5);
        --bg-darkness: linear-gradient(hsl(0 0 0 / 40%), hsl(0 0 0 / 40%))
    }

    form {
        --color: hsl(0 0 60);
        --start-color: hsl(0 0 6 / 82%);
        --end-color: hsl(240 60 4 / 98%);
        --top-left-shadow: -1px -1px 5px 1px hsl(0 3 27 / 25%);
        --bottom-right-shadow: 1px 1px 5px 0px hsl(0 3 27);
    }

    a {
        color: hsl(0 0 100);
    }
}